LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US

1 VERSIONINFO LOADONCALL MOVEABLE DISCARDABLE IMPURE
FILEVERSION 2, 2, 0, 224
PRODUCTVERSION 2, 2, 0, 224
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "Season's Fall Music\000"
      VALUE "FileDescription", "IDE AutoSave - An auto save wizard for RAD Studio\000"
      VALUE "FileVersion", "2.2.0.224\000"
      VALUE "InternalName", "IDEAutoSave\000"
      VALUE "LegalCopyright", "Season's Fall Music\000"
      VALUE "LegalTrademarks", "Season's Fall Music\000"
      VALUE "OriginalFilename", "IDEAutoSave\000"
      VALUE "ProductName", "IDEAutoSave\000"
      VALUE "ProductVersion", "2.2\000"
      VALUE "Comments", "IDE AutoSave - An auto save wizard for RAD Studio\000"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 1033, 1252
  }
}
